@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.con1-header {
width: 100%;
height: 20%;
background-color: aqua;
position: static;
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px;
box-shadow: 5px 10px 12px;
text-align: center;




}







.con2 {
  background-color:  lightgray;
 width: 100%;
  padding: 20px;
   height: 150vh;
  

}



.cons1, .cons2, .cons3, .cons4, .cons5, .cons6, .cons7,.cons8 {

  
  width: 20%;
  height: 400px;
  float: left;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 2px 3px 3px;
  transition:1s;
 

}
.cons1:hover:hover{
    transform:scale(1.5);
    z-index:2; }
    
    .cons2:hover:hover{
        transform:scale(1.5);
        z-index:2; }
        .cons3:hover:hover{
            transform:scale(1.5);
            z-index:2; }
            .cons4:hover:hover{
                transform:scale(1.5);
                z-index:2; }
                .cons5:hover:hover{
                    transform:scale(1.5);
                    z-index:2; }
                    .cons6:hover:hover{
                        transform:scale(1.5);
                        z-index:2; }
                        .cons7:hover:hover{
                            transform:scale(1.5);
                            z-index:2; }
                            .cons8:hover:hover{
                                transform:scale(1.5);
                                z-index:2; }
.cons1 {
    background-image: url(https://scontent.fcrk2-1.fna.fbcdn.net/v/t39.30808-6/332359408_1643247399448434_9191765537716570551_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHeLsQXb1cn7PHSPpS6CWqgGyPwBP3-cQobI_AE_f5xCisExtoW_R2kyNAoEWdOZYmV25iFMXbfX1Nx7-eu7iLp&_nc_ohc=qxJKJHY59BcAX8ks11N&_nc_ht=scontent.fcrk2-1.fna&oh=00_AfAkglOALjidc1EKcs4eKnBKtZFycPDOE62Md7FWiVqeYA&oe=6407492E);
     background-size: cover;
  background-repeat: no-repeat;
}
.cons2 {
    background-image: url(https://scontent.fcrk2-2.fna.fbcdn.net/v/t1.6435-9/211737701_922014318361268_862713223841309777_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH1YrTAogXtkysjBAA22iqFNw1ytrzeVcg3DXK2vN5VyIaWXNdeWS5m2dIEFsX1rrtrJd7OwfYa4R1L8SgpTHdf&_nc_ohc=5hXpjF70PDgAX_po1re&_nc_ht=scontent.fcrk2-2.fna&oh=00_AfBpOxxX8gojZpsIdTQQ3-fs9hup2KyduABzO-JlY04wBA&oe=642A79E8);
     background-size: cover;
  background-repeat: no-repeat;
}
.cons3 {
    background-image: url(https://scontent.fmnl4-5.fna.fbcdn.net/v/t39.30808-6/328553541_484974360475624_4589588455200636170_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEtVW8tRi3EYvereMtn_FpXMQRsdBTdpEUxBGx0FN2kReNFXlwhCfnQCR7xhaCFh3l3vhC6TZFGnRa5mKomB6ac&_nc_ohc=oeMPSaMkb_wAX8Sv1mn&_nc_ht=scontent.fmnl4-5.fna&oh=00_AfBKM4Vrt_Wt762PzhL-k3bZkMw5u2yEFQd0FEZjEMF6DQ&oe=6407A3FD);
     background-size: cover;
  background-repeat: no-repeat;
}
.cons4 {
    background-image: url(https://scontent.fcrk2-1.fna.fbcdn.net/v/t39.30808-6/325237766_8893154214058536_4826692322110808701_n.jpg?stp=dst-jpg_s1080x2048&_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeFnal2JEfnvNCupRl2gr7HbEB6rEMlIS4kQHqsQyUhLiW-btRdTRFJyh5NEphCRfPcrid1xySEuYbdoLizbtgpG&_nc_ohc=wvjQeOz256MAX8bSxmE&_nc_ht=scontent.fcrk2-1.fna&oh=00_AfBn6Hr0UeQ6fY_wV3hP5N0jh_xehO_m1yvHio6I5sy0ig&oe=6408E4C5);
     background-size: cover;
  background-repeat: no-repeat;
}
.cons5 {
    background-image: url(https://scontent.fcrk2-2.fna.fbcdn.net/v/t39.30808-6/332843549_1257278811832212_3305564714883559072_n.jpg?stp=dst-jpg_s1080x2048&_nc_cat=106&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeHFLL5CSVsmyTNFw0GvDFl-oiM1fMDR4fWiIzV8wNHh9fP5CFzjGqQBwAgmuA06qRSS_PHa6Loe8v_rA18Mxu86&_nc_ohc=3lJrbFpdUtMAX8iYP0Q&_nc_ht=scontent.fcrk2-2.fna&oh=00_AfCLJET4z5ZuPFcMlvJ6OBvs3nLFnehHBZZhwXSlVSWk7w&oe=6407669D);
     background-size: cover;
  background-repeat: no-repeat;
}
.cons6 {
    background-image: url(https://scontent.fcrk2-2.fna.fbcdn.net/v/t39.30808-1/298363892_1765743710438859_3763727263124271582_n.jpg?stp=c1.3.318.318a_dst-jpg_p320x320&_nc_cat=100&ccb=1-7&_nc_sid=7206a8&_nc_eui2=AeGHBvZQZ1H7aV6ooMBfYqurhLi34iEUGUmEuLfiIRQZSedw7b8Em78I8t7dFdh_BsaCjuWPJLIZLp8DjuLuazju&_nc_ohc=8Brdi3AzDfkAX9dZ7Dg&_nc_oc=AQn7P09i2r4f6Cja9bG0L2N3J00WJToqI1YE3eM1JEOlrV9J5cSsMJ9vL3Ttq5_Vb78&_nc_ht=scontent.fcrk2-2.fna&oh=00_AfCIWz0A7mfQOvKil-6TQpvA3sT-uF7AfpbkZZ5jBFtPQA&oe=6408A1E9);
     background-size: cover;
  background-repeat: no-repeat;
}
.cons7 {
    background-image: url(https://scontent.fcrk2-1.fna.fbcdn.net/v/t39.30808-6/300959851_1010627682947181_8723163229515429302_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGSV5Mp3O0sUdCs75L7REyepEVYbrviqXikRVhuu-KpeNu8afAoV_rT2UixdXon1Fpc62nOry-sX1KVI3BJ0u1u&_nc_ohc=yBPGb1uG9xUAX8D-vfD&_nc_ht=scontent.fcrk2-1.fna&oh=00_AfDxa0ksPaD6owPH-luuua0KagZ7TP-_VxxNe4Y0wRF4Kw&oe=64085EE2);
     background-size: cover;
  background-repeat: no-repeat;
}
.cons8 {
    background-image: url(https://scontent.fcrk2-2.fna.fbcdn.net/v/t39.30808-1/332717840_1226695958264766_3110463556067198862_n.jpg?stp=dst-jpg_p240x240&_nc_cat=104&ccb=1-7&_nc_sid=7206a8&_nc_eui2=AeHeLWJOL8Ts1uXvC6sfQBfPYTYINig-XshhNgg2KD5eyA4o4iLo_jUjxe8RNpVj5yftbb9PCO4I7pJ1S5QhwQzY&_nc_ohc=Hlo6h9LL_-sAX8dGAzB&_nc_ht=scontent.fcrk2-2.fna&oh=00_AfCETEyc178Yb-gNtSTlFaxvB-wkihysA7BZ7ffK_dnR3g&oe=64075A60);
     background-size: cover;
  background-repeat: no-repeat;
}
